<!DOCTYPE html>
<html>
  <head>
    <title>Free Parking For Me!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" %>

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <header>
    <%= yield :header %>
    </header>

    <%= yield %>

    <footer>
    <%= render partial: 'layouts/google_analytics' %>
    <%= yield :footer %>
    </footer>

  </body>
</html>
